<!DOCTYPE html>
<html>
  <head>
    <title>LeviTests</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to(current_company.name, root_path, class: "navbar-brand") %> 
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to('Member tests', member_tests_path, class: "nav-link") %> 
            </li>
            <li class="nav-item">
              <%= link_to('Members', members_path, class: "nav-link") %>    
            </li>
            <li class="nav-item">
              <%= link_to('Tests', tests_path, class: "nav-link") %>    
            </li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to('Logout', destroy_company_session_path, method: :delete, class: "nav-link") %>          
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
